<%- include("partials/header.ejs") %>

<h1>Tharindu Rashan</h1>
<h2>Books I've read</h2>
<h3><a href="/new">Create a new note</a></h3>

<main>
    <% book.forEach((b) => { %>
        <div class="box-detail">
             <p><a href="/book?id=<%= b.id %>">Title: <%= b.title %></a></p>
             <p>Author:<%= b.author %></p>
             <p>ISBN:<%= b.isbn %></p>
             <form action="/delete?id=<%= b.id %>&_method=DELETE" method="post">
                <button class="delete-button">Delete</button>
             </form>
             <img class="cover-image" src="https://covers.openlibrary.org/b/isbn/<%= b.isbn %>-M.jpg" alt="Book Cover" />
        </div>
       
    <% }); %>
        




</main>






<%- include("partials/footer.ejs") %>